/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	font-family: 'Arial', serif;
  font-weight: 400;
  font-style: normal;
  color: #565a5c;
  padding-top: 80px;
  padding-bottom: 20px;
}

a {
  color: #3F00FF;
}
  a:hover {
    color: #1E007B;
    text-decoration: none;
  }

.text_white {
  color: #fff;
}

.text_black {
  color: #222;
}

/* Navigation
-------------------------------------------------- */
nav.navbar {
	background-color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	font-size: 0.8em;
}

nav.navbar a {
	color: rgba(0,0,0,0.75);
	font-family: 'Arial', sans-serif;
  font-weight: 600; f
  font-style: normal;
  text-align: right;
}

nav.navbar a:hover {
	color: rgba(0,0,0,1);
}

nav.navbar .container .row {
  margin: 0;
}

/* Elemente für das mobile Menü
-------------------------------------------------- */
.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
    }

nav.navbar .navbar-toggle .icon-bar {
  background: #565a5c;
}

nav.navbar .navbar-toggle:hover .icon-bar {
  background: #3F00FF;
}

nav.navbar .active a,
nav.navbar a:hover {
  color: #B871CE;
  background: none;
}

/* Elements
-------------------------------------------------- */
div.jumbotron {
  background: #f5f5f5;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
  padding: 150px 0;
  margin: 100px 0 40px;
}

div.jumbotron .row {
  margin: 0;
}

div.jumbotron a {
  color: #fff;
  font-weight: 600;
}

img {
  width: 100%;
}

div.jumbotron.project1 {
  background-image: url('../img/ph.png');
	margin-top: 0;
}

/* Schrift stylen
-------------------------------------------------- */
h1, h2 {
  font-family: 'Arial', sans-serif;
  font-weight: 600;
  font-style: normal;
}

h1 {
	letter-spacing: 0.05em;
	font-size: 3.5em;
}

h2 {
	letter-spacing: 0.05em;
	font-size: 3.5em;
}

h3 {
	margin: 2em 0 0.75em 0;
	font-family: 'Arial', sans-serif;
  font-weight: 600;
  font-style: normal;
	font-size: 2em;
	letter-spacing: 0.05em;
	color: #222;
}

h4, h5 {
  margin-top: 2em;
}

h4 {
  font-size: 1.5em;
}

.navbar-brand img {
	height: 100%;
}

.navbar {
	padding: 15px 0;
}

.navbar.scroll {
	  -webkit-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow:    1px 1px 1px 0px rgba(50, 50, 50, 0.1);
    box-shadow:         1px 1px 1px 0px rgba(50, 50, 50, 0.1);
}

p {
	font-size: 17px;
  line-height: 1.7;
}

img, .row {
  margin: 3em 0;
}

.aside p {
  font-family: 'Georgia', serif;
  font-size: 16px;
  line-height: 1.7;
  margin: 0;
}

.aside h6 {
  margin: 0 0 10px;
  font-size: 13px;
}

div.aside p {
	font-size: 0.9em;
}

div.jumbotron p {
	letter-spacing: 0.02em;
	line-height: 1.6;
	width: 80%;
	margin-top: 40px;
	font-size: 1.2em;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
}

.btn {
	font-size: 0.7em !important;
}

/* Teaser
-------------------------------------------------- */

.grid-sizer{
  position: absolute;
 }

 .isotope-wrap{
  display: block;
  width: 100%;
}

.isotope-item{
  padding: 0;
}

.project-wrap{
  width: 100%;
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
  color: black;
}

.project-item{
  margin: 30px 0;
}

.project-inner{
  background-color: white;
  display: block;
}

.project-image{
  margin: 10px 0;
  background-size: cover;
  background-position: center;
}

.project-content{
  padding: 0;
  text-align: left;
}

.project-title{
  color:#565a5c;
  text-transform: none;
  margin: 10px 0;
  font-size: 24px;
}

.project-description{
  color: #565a5c;
  font-size: 16px;
  line-height: 1.4;
  margin: 10px 0;
}



/* Footer styling
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.small{
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  margin: 1.2em 0;
  color: #7C7C7C;
}

.small a {
  color: #222;
}
